

:root {
     --white: hsl(0, 0%, 100%);
     --lightgray: hsl(212, 45%, 89%);
     --grayishblue: hsl(220, 15%, 55%);
     --darkblue: hsl(218, 44%, 22%);
     
     --itemwidth: 100%;
     }

* { box-sizing: border-box; } 

body {
     margin: 0; 
     font-family: Outfit;
     background-color: var(--lightgray);
     color: var(--darkblue);

     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     }





.wrapper {
     border-radius: 1em;
     background-color: var(--white);
     padding: 2em;
     width: 90%;
     max-width: 30rem;

}


.wrapper img {
     display: block;
     border-radius: 1em;
     margin: 0 auto;
     width: var(--itemwidth);
}


.main {
     width: var(--itemwidth);
     margin: 0 auto;
     text-align: center;
     font-weight: 400;
}

.main .title {
     font-weight: 700;
     font-size: 1.6rem;

}


.attribution {
     font-size: 11px;
     text-align: center;
     }
.attribution a {
     color: hsl(228, 45%, 44%);
     }




footer {
     font-style: italic;
}